G# Byte-compiled / optimized / DLL files
workspace/__pycache__/
workspace/*.py[cod]
workspace/*$py.class

# C extensions
workspace/*.so

# Distribution / packaging
workspace/.Python
workspace/build/
workspace/develop-eggs/
workspace/dist/
workspace/downloads/
workspace/eggs/
workspace/.eggs/
workspace/lib/
workspace/lib64/
workspace/parts/
workspace/sdist/
workspace/var/
workspace/wheels/
workspace/pip-wheel-metadata/
workspace/share/python-wheels/
workspace/*.egg-info/
workspace/.installed.cfg
workspace/*.egg
workspace/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
workspace/*.manifest
workspace/*.spec

# Installer logs
workspace/pip-log.txt
workspace/pip-delete-this-directory.txt

# Unit test / coverage reports
workspace/htmlcov/
workspace/.tox/
workspace/.nox/
workspace/.coverage
workspace/.coverage.*
workspace/.cache
workspace/nosetests.xml
workspace/coverage.xml
workspace/*.cover
workspace/*.py,cover
workspace/.hypothesis/
workspace/.pytest_cache/

# Translations
workspace/*.mo
workspace/*.pot

# Django stuff:
workspace/*.log
workspace/local_settings.py
workspace/db.sqlite3
workspace/db.sqlite3-journal

# Flask stuff:
workspace/instance/
workspace/.webassets-cache

# Scrapy stuff:
workspace/.scrapy

# Sphinx documentation
workspace/docs/_build/

# PyBuilder
workspace/target/

# Jupyter Notebook
workspace/.ipynb_checkpoints

# IPython
workspace/profile_default/
workspace/ipython_config.py

# pyenv
workspace/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
workspace/__pypackages__/

# Celery stuff
workspace/celerybeat-schedule
workspace/celerybeat.pid

# SageMath parsed files
workspace/*.sage.py

# Environments
workspace/.env
workspace/.venv
workspace/env/
workspace/venv/
workspace/ENV/
workspace/env.bak/
workspace/venv.bak/

# Spyder project settings
workspace/.spyderproject
workspace/.spyproject

# Rope project settings
workspace/.ropeproject

# mkdocs documentation
/site

# mypy
workspace/.mypy_cache/
workspace/.dmypy.json
workspace/dmypy.json

# KitchenSalt & PyTest
workspace/.pyre/
workspace/Gemfile.lock
workspace/.kitchen/
workspace/.pytest_cache/