{#
    THIS FILE IS NOT USED!

    This file is based on 'tomcat8-default'
    I believe the concept of default-files predates
    systemd services.
    
    We COULD, for backward compatibility probably
    push this out as a "default file" and then load
    it from the .service file, but I think it's
    probably better to set all of it in the .service
    file since we generate it anyway, and have
    everything in one place.
#}

{% set host = pillar['ufconfig']['hosts'][grains.id] %}
{% set network = pillar['ufconfig']['networks'][host['networking']['network']] %}

UMASK=0007

{#
    /opt/tomcat below is a symlink to a version folder,
    as described in init.sls for the tomcat-tar state
    this means that for each upgrade of tomcat, this will
    be a new file that is then replaced by salt as the
    symlink is put in place.
    
    this file, as well as the .service file, uses the
    symlink paths in order to avoid changes on each upgrade.
#}

JAVA_OPTS="\
-Djava.awt.headless=true \
-Xmx3G \
-Xms1G \
-XX:MaxMetaspaceSize=3G \
-Xlog:gc*:file=/opt/tomcat/logs/gc.log:time:filecount=10,filesize=102400 \
-XX:+UseG1GC \
-Dcom.sun.management.config.file=/opt/tomcat/conf/jmxremote.properties \
-Dbtm.root=/opt/tomcat \
-Dbitronix.tm.configuration=/opt/tomcat/conf/btm-config.properties \
-Duf.tomcat.server.name={{ host['tomcat-name'] }} \
-Duf.tomcat.log.dir=/opt/tomcat/logs \
-Duf.tomcat.sticky.route={{ host['tomcat-route'] }} \
-Duf.site={{ network['site'] }} \
"

LOGFILE_COMPRESS=0

# Raise the maximum open files limit.
ulimit -n 16384